{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href='{% static "css/menu.css" %}' rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>    
</head>
<body>
    <section class="content">
        <div class="container">
            <div class="row g-5 p-3 ">
                <div class=" col-sm-8 col-md-8 col-lg-8">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text"><h1>Listado de alumnos</h1></span>
                        <span class="badge bg-primary rounded-pill">Tecsup</span>
                    </h4>
                    <br>
                    <table class="table bg-white rounded-4">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Email</th>
                                <th scope="col">Fecha de Nacimiento</th>
                                <th scope="col">Foto</th>
                                <th scope="col" colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in persona_list %}
                        <tr>
                            <th scope="row">{{ p.idPersona }}</th>
                            <td>{{ p.nombre }}</td>
                            <td>{{ p.apellido }}</td>
                            <td>{{ p.email }}</td>
                            <td>{{ p.fecha_nac }}</td>
                            <td><img src="{{ p.foto.url}}" style="max-width: 50px; max-height: 50px;"></td>
                            <td>
                                <a href="/data/{{ p.idPersona}}" style="color: rgb(0, 51, 255);"><i
                                    data-feather="edit-3"></i></a>
                                    <a href="/eliminar/{{ p.idPersona}}" style="color: red;"><i
                                            data-feather="trash-2"></i></a>
                                </td>
                            </tr>

                            <div class="modal fade" id="modal{{ p.idPersona }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/editar/{{ p.idPersona }}/" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <label>Nombres</label>
                                                <input type="text" class="form-control mb-3" name="nombre"
                                                       value="{{ p.nombre }}">
                                                <label>Apellidos</label>
                                                <input type="text" class="form-control mb-3" name="apellidos"
                                                       value="{{ p.apellidos }}">
                                                <label>Email</label>
                                                <input type="email" class="form-control mb-3" name="email"
                                                       value="{{ p.email }}">
                                                <label>Fecha de Nacimiento</label>
                                                <input type="date" class="form-control mb-3" name="fecha_nacimiento"
                                                       value="{{ p.fecha_nac }}">
                                                <label>Foto</label>
                                                <input type="file" name="foto" accept="image/*" class="form-control mb-3">
                                                <img src="{{ p.foto}}"  style="max-width: 100px; max-height: 100px;">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="col-sm-4 col-md-4 col-lg-4 bg-white rounded-4">
                    <h4 class="mb-2 p-3">Registrar Alumno</h4>
                    <form action="/registrar/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-12">
                                <label for="" class="form-label">Nombres</label>
                                <input type="text" class="form-control" name="txtnombre" required>
                            </div>
                            <div class="col-12">
                                <label for="" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" name="txtapellido" required>
                            </div>
                            <div class="col-12">
                                <label for="" class="form-label">Email</label>
                                <input type="email" step="any" class="form-control" name="txtemail" required>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Celular</label>
                                <input type="number" class="form-control" name="txtcelular" required>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" name="txtfecha_nac" required>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Foto</label>
                                <input type="file" class="form-control" name="txtfoto" required>
                            </div>
                        
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Registrar</button>
                    </form>
                    <br>
                </div>
                


                </div>
            </div>
        </div>
    </section>
</body>
<script>
    feather.replace()
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>